*.swp
*.swo
*.DS_Store
*.pyc
npm-debug.log

node_modules/
public/.components
output/
tests/
dist/
log/
tmp/*
!tmp/.gitkeep
.tmp/
.sass-cache/
/.idea/misc.xml
/.idea/modules.xml
/.idea/Tournamenter.iml
/.idea/vcs.xml
